@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
:root {
    --btn: #1255b6;
    --btn-hover: #0275d8;
    --btn-active: #689fce;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    min-height: 100svh;
    max-width: 100svw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    background-image: url("/images/bg.webp");
    background-size: cover;
    backdrop-filter: blur(8px) grayscale(75%);
}

nav {
    filter: drop-shadow(0px 5px 12px #000133);
    background-image: linear-gradient( 315deg, hsl(240deg 100% 20%) 0%, hsl(238deg 100% 19%) 11%, hsl(237deg 100% 18%) 22%, hsl(236deg 100% 17%) 33%, hsl(235deg 100% 16%) 44%, hsl(235deg 100% 15%) 56%, hsl(235deg 100% 13%) 67%, hsl(236deg 100% 12%) 78%, hsl(237deg 100% 11%) 89%, hsl(239deg 100% 10%) 100% );
    margin: 0;
    padding: 0;
    max-width: 100svw;
    display: flex;
    justify-content: center;
    align-items: center;
}
header {
    display: flex;
    flex-direction: column;
    max-width: 100svw;
    font-family: "Josefin Sans", sans-serif;
}

h1 {
    margin: 0;
    padding: 0.75rem;
}

header, footer {
    min-height: 3rem;
    color: white;
}

#support {
    align-self: flex-end;
    background-color: var(--btn);
    color: white;
    font-weight: bold;
    display: block;
    height: 20%;
    width: fit-content;
    transition: all linear 250ms;
    margin: 0.75rem;
    text-decoration:none;
}

#support > h6 {
    padding: 0.75rem;
    margin: 0;
    width: fit-content;
}

#support:hover {
    background-color: var(--btn-hover);
    transition: all linear 250ms;
}
#support:active {
    background-color: var(--btn-active);
    transition: all linear 250ms;
}

main {
    min-height: calc(100vh - 10rem);
    margin: 1.25rem;
    padding: 1rem;
    border-radius: 30px;
    background-color: #eee;
}

.left > .form-element {
    margin-bottom: 0.5rem;
}

.form-element {
    display: flex;
    gap: 0.5rem;
}

.form-element.flex-d-column {
    flex-direction: column;
}

label, input {
    font-size: 1rem;
}

input {
    height: 1.5rem;
}

input[type='checkbox'] {
    height: 20px;
    width: 20px;
}

.form-element > label, .checkbox-wrapper, .select-all {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.5rem;
}

.form-element.flex-d-column > label {
    width: fit-content;
}

#time {
    font-size: 1.1rem;
}

.days-checkboxes {
    display: flex;
    flex-direction: column;
}

.checkbox-wrapper {
    width: fit-content;
    display: flex;
}

h3 {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.badge {
    color: white;
    background-color: #333;
    border: solid azure 1px;
    padding: 0.5rem;
    border-radius: 20px;
    width: fit-content;
    font-size: 0.8rem;
    font-weight: bold;
}

h4 {
    margin: 0;
}

.testament-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 0.7rem;
}

.expand {
    font-size: 1.8rem;
    user-select: none;
    cursor: pointer;
    color: black;
    transition: all ease-in-out 250ms;
}
.expand:hover {
    color: #333;
    transition: all ease-in-out 250ms;
}
.expand:active {
    color: #999;
    transition: all ease-in-out 250ms;
}

.ot-checkboxes > .checkbox-wrapper, .nt-checkboxes > .checkbox-wrapper {
    height: 0px;
    line-height: 0px;
    visibility: hidden;
}

.ot-checkboxes.expanded > .checkbox-wrapper, .nt-checkboxes.expanded > .checkbox-wrapper {
    height: auto;
    line-height: unset;
    visibility: visible;
}

.select-all {
    width: fit-content;
    font-weight: bold;
}

.plan-btns {
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
}
.plan-btns > button {
    flex-basis: 40%;
    border: none;
    background-color: var(--btn);
    color: white;
    cursor: pointer;
    transition: all ease-in-out 200ms;
}
.plan-btns > button:hover {
    background-color: var(--btn-hover);
}
.plan-btns > button:active {
    background-color: var(--btn-active);
}

aside {
    height: 15vh;
    width: 20vw;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
    padding: 1rem;
    color: white;
    border: solid rgb(112, 110, 110) 2px;
}

aside.error {
    background-color: red;
    display: unset;
}

aside.alert {
    background-color: rgb(186, 186, 22);
    display: unset;
}

aside.success {
    background-color: rgb(105, 164, 16);
    display: unset;
}

footer {
    filter: drop-shadow(0px -5px 12px #000133);
    background-image: linear-gradient( 135deg, hsl(240deg 100% 20%) 0%, hsl(238deg 100% 19%) 11%, hsl(237deg 100% 18%) 22%, hsl(236deg 100% 17%) 33%, hsl(235deg 100% 16%) 44%, hsl(235deg 100% 15%) 56%, hsl(235deg 100% 13%) 67%, hsl(236deg 100% 12%) 78%, hsl(237deg 100% 11%) 89%, hsl(239deg 100% 10%) 100% );
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > p {
    margin: 0;
    padding: 0;
}

.footer-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition:all linear 150ms;
}

.footer-link:hover {
    color: var(--btn-active);
    transition: all linear 250ms;
}

@media screen and (min-width: 760px) {
    body {
        min-height: 100vh;
        width: 100vw;
    }
    nav {
        width: 100vw;
        max-width: unset;
    }
    header, main {
        width: 65vw;
    }
    h1 {
        padding-bottom: 0;
    }
    #support {
        margin-top: 0;
    }
    main {
        margin: 1.25rem auto;
        position: relative;
    }
    article {
        display: flex;
        gap: 0.75rem;
    }

    label, input {
        font-size: unset;
    }
    
    input {
        height: unset;
    }

    #time {
        font-size: unset;
    }
    
    input[type='checkbox'] {
        height: inherit;
        width: inherit;
    }

    .left {
        flex-basis: 40%;
    }
    .days-checkboxes {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .days-checkboxes > .checkbox-wrapper {
        flex-basis: 50%;
        justify-content: unset;
    }

    .right {
        flex-basis: 60%;
    }

    .ot-checkboxes.expanded, .nt-checkboxes.expanded {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .ot-checkboxes.expanded > .checkbox-wrapper, .nt-checkboxes.expanded > .checkbox-wrapper {
        flex-basis: 33%;
        justify-content: unset;
    }
    .plan-btns {
        position: absolute;
        bottom: 0;
    }
    .plan-btns > button {
        max-width: 15vw;
    }
}


.print-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 100vw;
    margin-left: 2vw;
}
#print-name {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}
.print-day {
    display: flex;
    width: fit-content;
    gap: 1rem;
    justify-content: space-between;
    font-size: 0.8rem;
}
.print-date {
    font-weight: bold;
}
.print-reading {
    margin-left: 0.8rem;
}